{% extends "base.html"  %}

{% block content %}
<head>
    <title>Latijn Leren</title>
</head>
<body>
    <div id="container">
        <h2>Latijn Leren H2a</h2>
        <p id="latijn-woord">woord</p>
        <input type="text" id="antwoord" placeholder="Jouw vertaling">
        <button onclick="controleerAntwoord()">Controleer</button>
        <p id="feedback"></p>
        <button id="volgendeButton" onclick="nieuwWoord()" style="display:none;">Volgende</button>
        <button id="opdrachtOpnieuwButton" style="display: none;" onclick="opdrachtOpnieuw()">Opdracht Opnieuw</button>
        <button id="homeschermButton" style="display: none;" onclick="gaNaarHome()">Terug naar Homescherm</button>
    </div>

    <div class="container-tekst">
        <p>Iupiter deus est.</p>
        <p>In Olympo habitat.</p>
        <p>Rex deorum est.</p>
        <p>Neptunus et Pluto dei sunt.</p>
        
    
    </div>

    <script src="{{ url_for('static', filename='scripts/2a.js') }}"></script>
</body>
</html>
{% endblock %}