{% extends "base.html"  %}

{% block content %}
<body>
    <main>
        <section>
            <div class="home-container">
                <h1>Welkom bij Ignarus.nl</h1>
                <p>Welkom op onze educatieve website! Hier vind je verschillende oefeningen voor Disco 1.</p>
                <p>Deze oefeningen focussen op beter Latijn kunnen lezen.</p>
                <p>Hierdoor hoef je een tekst steeds minder te vertalen en kun je een tekst steeds meer lezen.</p>
            </div>
        </section>
    </main>
</body>
</html>
{% endblock %}